# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IntelliJ IDEA
.idea/

# Vim
*.sw*
.ycm_extra_conf.*

# Visual Studio Code
.vscode/

# node-gyp build directory
build/
lib/binding/

# 3rd party dependencies
deps/

# NPM
node_modules/
